{{ template "header" . }}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                   Dashboard
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">

        <div class="col-12">

            <div class="row row-cards">
                <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                            <span class="bg-primary text-white avatar"><!-- Download SVG icon from http://tabler-icons.io/i/currency-dollar -->
                              <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M16.7 8a3 3 0 0 0 -2.7 -2h-4a3 3 0 0 0 0 6h4a3 3 0 0 1 0 6h-4a3 3 0 0 1 -2.7 -2"></path><path d="M12 3v3m0 12v3"></path></svg>
                            </span>
                                </div>
                                <div class="col">
                                    <div class="font-weight-medium">
                                        {{ .EmployeeCount }} Employees
                                    </div>
                                    <div class="text-muted">
                                        {{ .HighSalaryCount }} High salary
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="card card-sm">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-auto">
                            <span class="bg-green text-white avatar">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                  <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                  <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                  <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                                  <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                  <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                                  <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                  <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                                </svg>
                            </span>
                                </div>
                                <div class="col">
                                    <div class="font-weight-medium">
                                        2 Users
                                    </div>
                                    <div class="text-muted">
                                        1 Admin
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-10 col-md-12 mt-4">
            <div class="card card-lg">
                {{ if eq .CompletedOne true }}<div class="card-status-bottom bg-success"></div>{{ end }}
                {{ if eq .CompletedOne true }}
                <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                    <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
                </div>
                {{ end }}
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="h3">Challenge 1: Nosy User 🕵️🤑</h2>
                            <p class="m-0 text-muted">
                                As a regular user you can view employees of your company, but you're nosy
                                and want to view employees of another company. Come back once you've figured that out.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{ if eq .CompletedOne true }}
        <div class="col-lg-10 col-md-12 mt-4">
                <div class="card card-lg">
                    {{ if eq .CompletedTwo true }}<div class="card-status-bottom bg-success"></div>{{ end }}
                    {{ if eq .CompletedTwo true }}
                    <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                        <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
                    </div>
                    {{ end }}
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col">
                                <h2 class="h3">Challenge 2: Power Trip 😎 🚀</h2>
                                <p class="m-0 text-muted">
                                    You are so basic.
                                    Just kidding, you're just a user with a basic role... but we can fix that.
                                    This application is vulnerable by default, and there's a vulnerability that lets you escalate from a
                                    basic user to admin.

                                    Come back once you've figured that out.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        {{ end }}


        {{ if eq .CompletedTwo true }}
        <div class="col-lg-10 col-md-12 mt-4">
            <div class="card card-lg">
                {{ if eq .CompletedThree true }}<div class="card-status-bottom bg-success"></div>{{ end }}
                {{ if eq .CompletedThree true }}
                <div class="ribbon ribbon-top ribbon-bookmark bg-green">
                    <!-- Download SVG icon from http://tabler-icons.io/i/star -->
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z"></path></svg>
                </div>
                {{ end }}
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <h2 class="h3">Challenge 3: Administer Another Org 🔥 🥵</h2>
                            <p class="m-0 text-muted">
                                So, you figured out how to become an admin, huh. That's pretty cool, and funny how simple that was?
                            </p>
                            <br/>
                            <p class="m-0 text-muted">
                                You may have noticed you can view users now as an admin, and you can actually impersonate users of your company!
                                You think there's a chance you could impersonate users from another company?
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        {{ if eq .CompletedThree true }}
        <div class="col-lg-10 col-md-12 mt-4">
            <div class="card card-lg">
                <div class="card-status-bottom bg-green"></div>
                    <div class="card-stamp">
                        <div class="card-stamp-icon bg-green">
                            <!-- Download SVG icon from http://tabler-icons.io/i/bell -->
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-star" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 17.75l-6.172 3.245l1.179 -6.873l-5 -4.867l6.9 -1l3.086 -6.253l3.086 6.253l6.9 1l-5 4.867l1.179 6.873z" /></svg>
                        </div>
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Congratulations</h3>
                        <p class="text-muted">You've completed all the challenges. Here comes the fun part though. Every malicious action you've taken to Go from a Basic Gopher, to the admin of the prestigiuos Acme corporation, could have been prevented, and better yet, logged.</p>
                        <p class="text-muted">Enable validation using the toggle at the top, and trace back through your steps while viewing the logs. This is how applications SHOULD handle IDOR vulnerabilities.</p>
                    </div>

            </div>
        </div>
        {{ end }}
    </div>
</div>
{{ template "footer" . }}
