{{ template "header" . }}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    Docs
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="col-lg-10 col-md-12">
            <div class="card">
                <div class="img-responsive img-responsive-21x9 card-img-top" style="background-image: url(/assets/img/challenge.jpg)"></div>
                <div class="card-body">
                    <p class="text-secondary">LogSnare is an intentionally vulnerable application which shows how IDOR vulnerabilties can be abused and exploited. Your goal is to go from being a basic user of the boring cyber-security company "LogSnare" to an exciting administrator of the prestigious "Acme Corporation".</p>
                    <p class="text-secondary">Start by clicking on the Dashboard, where hints and instructions will be provided.</p>
                    <p class="text-secondary">Once you're all done, be sure to enable validation and see how all of your malicious actions would've been logged along the way. This is where the real lesson is learned. You can see how web applications should validate, and log IDOR validation requests.</p>
                </div>
            </div>
        </div>

    </div>
</div>
{{ template "footer" . }}