{{ template "header" . }}

<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <!-- Page pre-title -->
                <div class="page-pretitle">
                    Overview
                </div>
                <h2 class="page-title">
                    Company Name: Employees
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="col-12">
            <div class="row row-cards">

                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-vcenter card-table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>SSN</th>
                                    <th>Salary</th>
                                    <th>DOB</th>
                                    <th class="w-1"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Paweł Kuna</td>
                                    <td class="text-muted">
                                        Email
                                    </td>
                                    <td class="text-muted">
                                        SSN
                                    </td>
                                    <td class="text-muted">
                                        Salary
                                    </td>
                                    <td class="text-muted">
                                        DOB
                                    </td>
                                    <td>
                                        <a href="#">Edit</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{ template "footer" . }}
